<html>
<head>
  <title>Ozma Kappa Voucher</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
   .footer {
  position: relative;
  margin-top: 300px;
  height: 50px;
  clear:both;
  padding-top:20px;
  background:#2E2E2A;
} 

.content
{
	margin-top :200px;
}


.navbar
{
	height:65px;
}

.content
{
	height:100px;
}

</style>
</head>

<body style="background-color:grey;">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h3 ><a href="{{ url_for('home') }}">Voucher Ozma Kappa</a></h3>
      </div>
      <ul class="nav navbar-nav navbar-right">
       {% if not session.username %}  
       <li><a href = "{{ url_for('register') }}"><span class="glyphicon glyphicon-flash"></span> Register</a></li>
       <li><a href = "{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
       {% elif session.username == "admin@voucher.com" %}
       <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome, {{ session.username }}</a></li>
	   <li><a href="{{ url_for('list2') }}"><span class="glyphicon glyphicon-th-list"></span> List</a></li>
       <li><a href="{{ url_for('addvoucher') }}"><span class="glyphicon glyphicon-plus-sign"></span> Add voucher</a></li>
       <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-remove"></span> Logout</a></li>
       {% else %}
       <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Welcome, {{session.username}}</a></li>
	   <li><a href="{{ url_for('list') }}"><span class="glyphicon glyphicon-th-list"></span>List Voucher</a></li>
       <li><a href="{{ url_for('order') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
       <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-ban-circle"></span> Logout</a></li>
       {% endif %}      
     </ul>
   </div>
 </nav>

 <div class="content">
		<div class="content-head">
			
				<div class="col-1">
					<div class="col-md-12 col-p">
						<center>
						<h3 style="color:red;">Ozma kappa Online Voucher Shop</h3>
						   <h1><p style="color:blue;">Ingin voucher Game Murah ??</p></h1>
						
						</center>
					</div>
				</div>			
						
					<div class="clearfix"></div>
		</div>
 </div>

<div class="footer">
		<div class="container">
			<div class="footer-grids">			
				
					<ul>
						<center><h5 style="color:white;">toko yang sudah berdiri sejak 1997 dan sudah sangat terpercaya ribuan pelanggan dan menjual voucher dengan harga termurah seindonesia</h5>
					</ul></center>
				
		</div>
</div>
</div>
</body>
</html>


